<div>
  <h3>Order For: <%= @customer['Name'] %></h3>

  <table>
    <tr>
      <th colspan="2">Customer Information</th>
    </tr>
  <% @customer.each_pair do |name, value| %>
    <% if name != 'Preferences' %>
      <tr>
        <td><%= name %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  <% end %>
  </table>  


  <table>
    <tr>
      <th colspan="2">Order Status</th>
    </tr>
  <% @order.each_pair do |name, value| %>
    <% if name != 'Customer_ID' %>
      <tr>
        <td><%= name %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>