<%= form_for @driver do |f|%>
	<div class="input-group-lg">
 		<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
 	</div>
 	<div class="input-group-lg">
  		<%= f.text_field :password, class: "form-control", placeholder: "Password" %>
  	</div>
  	<div class="input-group-lg">
  		<%= f.text_field :password_confirmation, class: "form-control", placeholder: "Confirm" %>
  	</div>
  		<%= f.submit "Sign up", class: "btn btn-default btn-lg" %>
<%end%>
